.card-columns {
    column-break-inside: avoid;
}
.containers {
    display: grid;
    height: 100vh;
    gap: 50px;


    grid-template-columns : 1fr 1fr 1fr 1fr; /*grid-template-columns : repeat(4, 1fr);*/


    /* ! */
    column-gap:  100px;
    row-gap:  50px;
    align-items: center;
    justify-content: stretch;

}

