<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Getting Started: Serving Web Content</title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container mt-5">
    <h5>Hello, guest</h5>
    <div>This is simple application</div>

</div>
<div th:replace="fragments/bootstrapJS :: bootstrapJS">
</body>
</html>