<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Main</title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container mt-5">
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</div>
<span><a href="/user">User list</a></span>
<div>
    <form method="post" enctype="multipart/form-data">
        <input type="text" name="text" placeholder="Введите сообщение"/>
        <input type="text" name="tag" placeholder="Тэг">
        <input type="file" name="file">
        <button type="submit">Добавить</button>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</div>

<form method="get" action="/main">
    <input type="text" name="filter" th:value="${filter}">
    <button type="submit">Search</button>
</form>
<div>Список сообщений</div>
<div th:each="message : ${messages}">
    <div th:text="'Id: ' + ${message.getId()}"></div>
    <div th:text="${message.getTeg()}"></div>
    <div th:text="${message.getText()}"></div>
    <div th:text="${message.getAuthorName()}"></div>
    <div th:if="${message.getFilename() != null}">
        <img th:src="@{/img/{filename}(filename = ${message.getFilename()})}">
    </div>
</div>
</div>
<div th:replace="fragments/bootstrapJS :: bootstrapJS"></div>
</body>
</html>