<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" type="text/css" href="testCSS.css">-->
</head>
<!--<script src="test.js"></script>-->
<body>
<div class="grid">
    <div class="item photo">
        <div class="content">
            <div class="title">
                <h3>3: Photo</h3>
            </div>
            <img class="photothumb" src="https://assets.codepen.io/881020/dog2.jpg">
            <div class="desc">
                <p>Lorem ipsum dolor sit amet, conse</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>