<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Users control panel</title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div class="container">
    <h3>List of users</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th></th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.getUsername()}">Name</td>

            <td> <span th:each="role,iterStat : ${user.getRoles()}"
                       th:text="${role} + ${!iterStat.last ? ', ' : ''}"></span></td>
            <!--!iterStat.last ? ', ' : '' - метод для проверки(являеться ли значение последним https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#strings-->
            <td><a th:href="@{/user/{id}(id = ${user.getId()})}">Edit user</a></td>
        </tr>
    </table>
</div>
<div th:replace="fragments/bootstrapJS :: bootstrapJS"></div>
</body>
</html>